Repository virgenherrera/angular-base: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,json,mjs,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{html,scss,md}": ["prettier --write"]
}

task: bumpDependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

task: bumpDependencies (#150)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

task: bumpDependencies
  .github/workflows/ci.yml
  .ncurc.json
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

task: bumpDependencies (#151)
  .github/workflows/ci.yml
  .ncurc.json
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

task: bumpDependencies
  .cursor/rules/cursor.mdc
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

task: bumpDependencies (#152)
  .cursor/rules/cursor.mdc
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

task: bumpDependencies (#153)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: harden dependency infrastructure with pnpm 11 and supply chain security
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

refactor: normalize script taxonomy for consistency with nest-base
  .github/workflows/ci.yml
  .ncurc.json
  README.md
  package.json
Due: prettier --write, eslint --fix

ci: extract composite action, add bump-dependencies workflow and dependabot
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/bump-dependencies.yml
  .github/workflows/ci.yml
  .node-version
Due: none

test: enforce coverage thresholds at 80/80/80/80
  angular.json
Due: prettier --write, eslint --fix

fix: add securityCheck to test:doctor to match nest-base ecosystem
  package.json
Due: prettier --write, eslint --fix

fix: bump Angular to 21.2.x and remove ignored vulnerability allowlist
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

docs: rewrite README to document DX hardening and dependency security
  README.md
Due: prettier --write

fix: replace deprecated vscode typescript settings with unified js/ts equivalents
  .vscode/settings.json
Due: prettier --write, eslint --fix

chore: alphabetize settings.json and tsconfig.json keys
  .vscode/settings.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: remove inline comment from .ncurc.json, already documented in README
  .ncurc.json
Due: prettier --write, eslint --fix

refactor: remove watch scripts, redundant with VS Code Vitest extension and ng serve
  README.md
  angular.json
  package.json
Due: prettier --write, eslint --fix

chore: bump dependencies and add typescript to NCU reject list
  .ncurc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Chore/harden dx (#154)
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/bump-dependencies.yml
  .github/workflows/ci.yml
  .ncurc.json
  .node-version
  .npmrc
  .vscode/settings.json
  README.md
  angular.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

fix: align vitest/coverage-v8 version, normalize audit config key, and fix action description language
  .github/actions/setup/action.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix: align vitest/coverage-v8 version, normalize audit config key, an… (#156)
  .github/actions/setup/action.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix: use correct author in bump-dependencies workflow
  .github/workflows/bump-dependencies.yml
Due: none

fix: use correct author in bump-dependencies workflow (#157)
  .github/workflows/bump-dependencies.yml
Due: none

fix: override scaffold with zoneless Angular 21 + Tailwind CSS 4
  .gitignore
  .lintstagedrc.json
  .postcssrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/app.css
  src/app/app.scss
  src/app/app.ts
  src/styles.css
Due: prettier --write, eslint --fix

fix: align postcss pin with override, remove stale sass-cache entry
  .gitignore
  package.json
Due: prettier --write, eslint --fix

Fix/angular re scaffold (#158)
  .gitignore
  .lintstagedrc.json
  .postcssrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/app.css
  src/app/app.scss
  src/app/app.ts
  src/styles.css
Due: prettier --write, eslint --fix

chore: migrate to Angular 22 + TypeScript 6.0
  .ncurc.json
  package.json
  pnpm-lock.yaml
  src/app/app.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, eslint --fix

fix: bump .node-version to 24.16.0 for Angular 22 CLI compatibility
  .node-version
Due: none

chore: migrate to Angular 22 + TypeScript 6.0 (#159)
  .ncurc.json
  .node-version
  package.json
  pnpm-lock.yaml
  src/app/app.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, eslint --fix

fix: centralize Node version in package.json engines
  .github/actions/setup/action.yml
  .node-version
Due: none

fix: centralize Node version in package.json engines (#160)
  .github/actions/setup/action.yml
  .node-version
Due: none

task: bumpDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: remove bump-dependencies workflow
  .github/workflows/bump-dependencies.yml
Due: none

chore: bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: pin postcss to exact version
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Chore/remove bump dependencies (#162)
  .github/workflows/bump-dependencies.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: align CI step names with echo system
  .github/workflows/ci.yml
Due: none

chore: align CI step names with echo system (#163)
  .github/workflows/ci.yml
Due: none
